@import url('https://fonts.googleapis.com/css2?family=Delius&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

@theme {
    --breakpoint-xs: 375px;
    --breakpoint-sm: 425px;
    --breakpoint-md: 600px;
    --breakpoint-lg: 920px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1500px;
  }

@layer components{
    .card-size{
        @apply size-12 xs:size-16 sm:size-20 md:size-32 lg:size-44 xl:size-56 2xl:size-64
    }      
}
.delius {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .prata {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  